<!-- <div *ngIf="alert" class="alert alert-success" role="alert">
    <div class="container">
        <div class="alert-icon">
            <i class="now-ui-icons ui-2_like"></i>
        </div>
        <strong>Module ajouté avec succès</strong>
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </span>
        </button>
    </div>
</div>
<br>
<form (ngSubmit)="onSubmit()">
    <div class="form-group col-md-11">
        <label>Nom Module</label>
        <input type="text" class="form-control" id="nom" placeholder="Enter le nom" [(ngModel)]="module.nom" name="nom">
    </div>
    <div class="form-group col-md-11">
        <label>Description</label>
        <input type="text" class="form-control" id="description" placeholder="Enter la description du Module"
            [(ngModel)]="module.description" name="description">
    </div>
    <div class="form-group col-md-11">
        <label>Date Création </label>
        <input type="date" class="form-control" id="date_creation" [(ngModel)]="module.date_creation"
            name="date_creation" placeholder="Date de Création">
    </div>
    <div class="input-group col-md-11">
        <label class="input-group-text" for="inputGroupSelect01">Module Parent</label>
        <select class="form-select" id="parentModule" [(ngModel)]="module.parentModule" name="parentModule">
            <option value="null" selected>Aucun Module Parent</option>
            <option *ngFor="let m of modules | async " [ngValue]="m">
                {{m.nom}}
            </option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Sauvgarder</button>
</form> -->
<div class="col-md">
    <div class="card card-user">
        <div class="card-header">
           <h5 class="card-title">Ajouter un Module</h5> 
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nom Module :</label>
                            <input type="text" class="form-control" id="nom" placeholder="Enter le nom" [(ngModel)]="module.nom" name="nom">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description :</label>
                            <input type="text" class="form-control"  id="description" placeholder="Enter la description du Module"
                            [(ngModel)]="module.description" name="description">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Date Création :</label>
                            <input type="date" class="form-control"  d="date_creation" [(ngModel)]="module.date_creation"
                            name="date_creation" placeholder="Date de Création">
                        </div>
                    </div>
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label class="input-group-text col-md-6">Veuillez choisir le module Parent :</label>
                            <select class="form-select col-md-6" id="parentModule" [(ngModel)]="module.parentModule" name="parentModule">
                                <option value="null" selected>Choisir une periode </option>
                                <option *ngFor="let m of modules | async " [ngValue]="m">
                                    {{m.nom}}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button type="submit" class="btn btn-primary btn-round">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>